matplotlib
pandas
geopandas
seaborn
scipy
rasterio
geocube
pympler
ipyparallel
mapply
swifter
fiona
distance
datalad[full]
nbformat
openpyxl
typer
rich
ruff
mypy
pytest
pre-commit
sphinx
PyYAML
types-PyYAML
